@model Kurs

<h2>Kurs Güncelleme</h2>
<hr>
<form asp-asp-controller="Kurs" asp-action="Edit" method="post">
    <input type="hidden" asp-for="KursId">
    <div class="mb-3">
        <label asp-for="Baslik" class="form-label">Kurs Başlığı</label>
        <input asp-for="Baslik" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
    
</form>