@model Bootcamp;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Kurs Id Bilgisi: @Model.Id</p>
    <p>Kurs Başlığı: @Model.Title</p>
    <p>Kurs Açıklaması: @Model.Description</p>
</body>
</html>